@model EventEase_CLDV6211_ST10444488_.Models.Venue

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Venue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.VenueName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-4">Image</dt>
        <dd class="col-sm-8">
            @if (!string.IsNullOrEmpty(Model.ImageURL))
            {
            <img src="@Model.ImageURL" alt="Venue Image" width="200" class="img-thumbnail" />
            }
            else
            {
            <p>No image available.</p>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VenueID" />
        <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
