@model EventEase_CLDV6211_ST10444488_.Models.Venue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        <dt class="col-sm-2">Venue Image</dt>
        <dd class="col-sm-10">
                @if (!string.IsNullOrEmpty(Model.ImageURL))
                {
                <div class="image-container">
                    <img src="@Model.ImageURL" alt="Venue Image" class="img-fluid" width="300" />
                </div>
                }
                else
                {
                <p>No image available.</p>
                }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VenueID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
