@model EventEase_CLDV6211_ST10444488_.Models.Venue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.VenueName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Location)
        <dt class="col-sm-4">Image</dt>
        <dd class="col-sm-8">
            @if (!string.IsNullOrEmpty(Model.ImageURL))
            {
                <img src="@Model.ImageURL" alt="Venue Image" class="img-thumbnail" width="200" />
            }
            else
            {
                <p>No image available.</p>
            }
        </dd>
    </dl>
</div>
<a asp-action="Edit" asp-route-id="@Model.VenueID" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>

