@model IEnumerable<EventEase_CLDV6211_ST10444488_.Models.Venue>

@{
    ViewData["Title"] = "Venue";
}

<h1>Venue</h1>

<p>
    <a asp-action="Create">Add New Venue</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>

                    @if (item.ImageURL != null && item.ImageURL.Any())
                    {
                        foreach (var image in item.ImageURL)
                        {
                            <img src="@item.ImageURL" alt="Venue Image">
                        }
                    }
                    else
                    {
                        <img src="https://picsum.photos/200/300" alt="Venue Image" width="100">
                    }
                </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VenueID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VenueID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VenueID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
