@model EventEase_CLDV6211_ST10444488_.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Venues)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Venues.VenueName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Events)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Events.EventName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
