@model IEnumerable<EventEase_CLDV6211_ST10444488_.Models.Booking>

@{
    ViewData["Title"] = "Create Booking";
}

<h1>Booking</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<p>
    <a asp-action="Create" class="btn-create">Create New Booking</a>
</p>
<div class="table-responsive">
    <table class="table custom-theme-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             @if (Model.Count(b => b.VenueID == item.VenueID && b.BookingDate == item.BookingDate) > 1)
                {
                    <td class="text-danger">⚠ Conflict Detected - @item.BookingDate</td>
                }
                else
                {
                    <td>@Html.DisplayFor(modelItem => item.BookingDate)</td>
                }
            <td>
                @(item.Venues != null ? item.Venues.VenueName : "No Venue Assigned")
            </td>
            <td>
                @(item.Events != null ? item.Events.EventName : "No Event Assigned")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
    </table>
</div>
